<article>

    @for (item of grouped_cart; track $index) {

    <section class="mb-5">

        <h3 class="text-3xl">{{item.label}}</h3>

        @for (session of item.options; track $index) {

            <section class="flex flex-row items-center justify-between mt-2">

                <span>{{session.date}}</span>
    
                <div class="flex flex-row items-center">x{{session.tickets}} <img src="assets/img/trash.png" (click)="deleteSessions(session.id, session.date)"
                        class="w-[20px] ml-3" alt=""></div>
    
            </section>

        }

    </section>

    }

</article>